.wrapper {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.carTable {
  border-spacing: 0;
  border: 1px solid silver;
}

.carTable td {
  border: 1px solid silver;
  padding: 5px 10px;
}