.header {
  display: flex;
  padding: 10px;
  align-items: center;
  background-color: #333;
}

.logo {
  font-weight: 800;
  color: gold;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.nav a {
  margin-right: 15px;
  text-decoration: none;
  color: #fff;
}

.nav a:hover {
  text-decoration: underline;
}